.navbar-container{
    height: 70px;
    background-color: rgba($color: black, $alpha: 0.4);
    position: fixed;

    .navbar-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 80px;
        width: 100vw;
        
        .links-wrapper {
            width: 500px;
            display: flex;
            justify-content: space-between;

            img {
                margin-top: 4px;
                width: 70px;
                height: 70px;

            }

            .link {
                opacity: 0;
                @include center;
                transition: 1s ease-in;
            }

            .reveal {
                opacity: 1;
            }
        }

        .social-media-wrapper {
            width: 150px;
            display: flex;
            justify-content: space-around;

            img {
                width: 30px;
            }
        }

    }
}