.navbar-container{
    height: 60px;
    background-color: rgba($color: black, $alpha: 0.4);
    position: fixed;

    .navbar-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 80px;
        width: 100vw;
        
        .links-wrapper {
            width: 500px;
            display: flex;
            justify-content: space-between;

            img {
                width: 100px;
            }
        }

        .social-media-wrapper {
            width: 150px;
            display: flex;
            justify-content: space-around;

            img {
                width: 30px;
            }
        }

    }
}